include MANIFEST.in
include requirements.txt
include *.json
include *.md
include *.py
include *.txt
recursive-include persistent_defaults *.css
recursive-include persistent_defaults *.csv
recursive-include persistent_defaults *.html
recursive-include persistent_defaults *.ico
recursive-include persistent_defaults *.js
recursive-include persistent_defaults *.json
recursive-include persistent_defaults *.md
recursive-include persistent_defaults *.png
recursive-include persistent_defaults *.py
recursive-include persistent_defaults *.svg
recursive-include persistent_defaults *.txt
recursive-exclude persistent_defaults *.pyc
